ACTION=="add" \
, KERNEL=="js1" \
, ATTRS{name}=="Microsoft X-Box One S pad" \
, RUN+="/etc/udev/scripts/xbox add"

ACTION=="remove" \
, KERNEL=="js1" \
, ATTRS{name}=="Microsoft X-Box One S pad" \
, RUN+="/etc/udev/scripts/xbox remove"

# Wireless gamepad
ACTION=="add" \
, KERNEL=="input[0-9]*" \
, ATTRS{name}=="Xbox Wireless Controller" \
, RUN+="/etc/udev/scripts/xbox add (BT)"

ACTION=="remove" \
, ATTRS{name}=="Xbox Wireless Controller" \
, RUN+="/etc/udev/scripts/xbox remove (BT)"
